<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>
  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :user_surname %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :user_email %>
  </div>
  <% if user.new_record? %>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, id: :user_password %>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :bank_code %>
    <%= form.text_field :bank_code, id: :user_bank_code %>
  </div>
  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :user_country %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency, id: :user_currency %>
  </div>

  <div class="field">
    <%= form.label :country_code %>
    <%= form.text_field :country_code, id: :user_country_code %>
  </div>

  <div class="field">
    <%= form.label :currency_code %>
    <%= form.text_field :currency_code, id: :user_currency_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
