<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @user.currency %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @user.country_code %>
</p>

<p>
  <strong>Currency code:</strong>
  <%= @user.currency_code %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
